
env/
venv/

*env/
*venv/

.vscode/
*.vscode

.idea/
*.idea

__pycache__/
*__pycache__/

media/

.env

*.db
*.db-shm
*.db-wal

*.pyc

*.log

.obsidian
*.obsidian

.trash
*.trash

.Server/__pycache__/
*.Server/__pycache__/